@define-color accent_color #458588;
@define-color accent_bg_color #458588;
@define-color accent_fg_color #282828;
@define-color destructive_color #cc241d;
@define-color destructive_bg_color #cc241d;
@define-color destructive_fg_color #282828;
@define-color success_color #98971a;
@define-color success_bg_color #98971a;
@define-color success_fg_color #282828;
@define-color warning_color #b16286;
@define-color warning_bg_color #b16286;
@define-color warning_fg_color #282828;
@define-color error_color #cc241d;
@define-color error_bg_color #cc241d;
@define-color error_fg_color #282828;
@define-color window_bg_color #282828;
@define-color window_fg_color #ebdbb2;
@define-color view_bg_color #282828;
@define-color view_fg_color #ebdbb2;
@define-color headerbar_bg_color #3c3836;
@define-color headerbar_fg_color #ebdbb2;
@define-color headerbar_border_color rgba(0.093750, 0.093750, 0.144531, 0.7);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.07);
@define-color sidebar_bg_color #3c3836;
@define-color sidebar_fg_color #ebdbb2;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.07);
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_shade_color @sidebar_shade_color;
@define-color card_bg_color #3c3836;
@define-color card_fg_color #ebdbb2;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color #3c3836;
@define-color dialog_fg_color #ebdbb2;
@define-color popover_bg_color #3c3836;
@define-color popover_fg_color #ebdbb2;
@define-color popover_shade_color rgba(0, 0, 0, 0.07);
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color scrollbar_outline_color #504945;
@define-color blue_1 #458588;
@define-color blue_2 #458588;
@define-color blue_3 #458588;
@define-color blue_4 #458588;
@define-color blue_5 #458588;
@define-color green_1 #98971a;
@define-color green_2 #98971a;
@define-color green_3 #98971a;
@define-color green_4 #98971a;
@define-color green_5 #98971a;
@define-color yellow_1 #d79921;
@define-color yellow_2 #d79921;
@define-color yellow_3 #d79921;
@define-color yellow_4 #d79921;
@define-color yellow_5 #d79921;
@define-color orange_1 #d65d0e;
@define-color orange_2 #d65d0e;
@define-color orange_3 #d65d0e;
@define-color orange_4 #d65d0e;
@define-color orange_5 #d65d0e;
@define-color red_1 #cc241d;
@define-color red_2 #cc241d;
@define-color red_3 #cc241d;
@define-color red_4 #cc241d;
@define-color red_5 #cc241d;
@define-color purple_1 #b16286;
@define-color purple_2 #b16286;
@define-color purple_3 #b16286;
@define-color purple_4 #b16286;
@define-color purple_5 #b16286;
@define-color brown_1 #9d0006;
@define-color brown_2 #9d0006;
@define-color brown_3 #9d0006;
@define-color brown_4 #9d0006;
@define-color brown_5 #9d0006;
@define-color light_1 #3c3836;
@define-color light_2 #3c3836;
@define-color light_3 #3c3836;
@define-color light_4 #3c3836;
@define-color light_5 #3c3836;
@define-color dark_1 #3c3836;
@define-color dark_2 #3c3836;
@define-color dark_3 #3c3836;
@define-color dark_4 #3c3836;
@define-color dark_5 #3c3836;