* {
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 16px;
  color: #cdd6f4;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#workspaces,
#custom-cava,
#custom-gpu,
#cpu,
#memory,
#language,
#network,
#pulseaudio,
#clock,
#tray {
    background-color: #1E1E2E;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 4px;
    border-width: 0px;
    padding: 4px 6px;
}

#cpu,
#memory,
#network,
#pulseaudio,
#clock {
    margin-left: 0px;
}

#custom-gpu,
#cpu,
#language,
#network,
#pulseaudio {
    margin-right: 0px;
}

#custom-gpu,
#language {
  border-radius: 10px 0 0 10px;
}

#memory,
#clock {
  border-radius: 0 10px 10px 0;
}

#workspaces,
#custom-cava,
#tray {
  border-radius: 10px;
}


#workspaces button {
  background: transparent;
  border: none;
  padding: 0px 4px;
  margin: 0px 2px;
  font-weight: bold;
}
#workspaces button:hover{
  background-color: rgba(97, 175, 239, 0.2);
  border-radius: 10px;
}
#workspaces button.active {
  background: #325B8F;
  border-radius: 10px;
}
