/**
  * @name my-theme
  * @description Custom theme based on refact0r's midnight
  * @author refact0r
  * @version 0.1.0
  * @website https://github.com/refact0r/midnight-discord
  * @source https://github.com/refact0r/midnight-discord/blob/master/themes/midnight.theme.css
  * @authorId 508863359777505290
  * @authorLink https://www.refact0r.dev
**/

/* import theme modules */
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

body {
    /* font, change to "" for default discord font */
    --font: 'figtree';

    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */

    /* animation/transition options */
    --animations: on; /* turn off to disable all midnight animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */

    /* top bar options */
    --move-top-bar-buttons: off; /* turn on to move inbox button to the server list (recommend setting top bar height to 24px) */
    --custom-app-top-bar-height: 30px; /* height of the titlebar/top bar (default is 36px)*/

    /* window controls */
    --custom-window-controls: on; /* turn off to use discord default window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button icon options */
    --dms-icon: on; /* set to default to use discord icon, on to use custom icon, off to disable completely */
    --dms-icon-svg-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size) */
    --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */

    /* dms button background options */
    --dms-background: off; /* off to disable, image to use a background image, color to use a custom color/gradient */
    --dms-background-image-url: url(""); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background) */

    /* background image options */
    --background-image: off; /* turn on to use a background image */
    --background-image-url: url(""); /* url of the background image */

    /* transparency/blur options */
    --transparency-tweaks: on; /* turn on to remove some elements for better transparency */
    --remove-bg-layer: off; /* turn on to remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* turn on to blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* you can set this to a more opaque color if floating panels look too transparent */

    /* other options */
    --small-user-panel: on; /* turn on to make the user panel smaller like in old discord */
}

/* color options */
:root {
    --colors: on; /* turn off to use discord default colors */

    /* text colors */
    --text-0: {{base06}}; /* text on colored elements */
    --text-1: {{base05}}; /* other normally white text */
    --text-2: {{base06}}; /* headings and important text */
    --text-3: {{base05}}; /* normal text */
    --text-4: {{base05}}; /* icon buttons and channels */
    --text-5: {{base04}}; /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: {{base02}}; /* dark buttons when clicked */
    --bg-2: {{base01}}; /* dark buttons */
    --bg-3: {{base00}}; /* spacing, secondary elements */
    --bg-4: {{base00}}; /* main background color */
    --hover: {{base04}}56; /* channels and buttons when hovered */
    --active: {{base05}}56; /* channels and buttons when clicked or selected */
    --active-2: {{base03}}96; /* extra state for transparent buttons */
    --message-hover: #00000028; /* messages when hovered */

    /* accent colors */
    --accent-1: var(--blue-1); /* links and other accent text */
    --accent-2: var(--blue-2); /* small accent elements */
    --accent-3: var(--blue-3); /* accent buttons */
    --accent-4: var(--blue-4); /* accent buttons when hovered */
    --accent-5: var(--blue-5); /* accent buttons when clicked */
    --accent-new: var(--red-1); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: {{base0B}}; /* change to #43a25a for default */
    --dnd: {{base08}}; /* change to #d83a42 for default */
    --idle: {{base09}}; /* change to #ca9654 for default */
    --streaming: {{base0E}}; /* change to #593695 for default */
    --offline: {{base03}}; /* change to #83838b for default offline color */

    /* border colors */
    --border-light: #00000000; /* light border color */
    --border: #00000000; /* normal border color */
    --button-border: #FFFFFF32; /* neutral border color of buttons */

    /* base colors */
    --red-1: {{base08}};
    --red-2: {{base08}};
    --red-3: {{base08}};
    --red-4: {{base08}};
    --red-5: {{base08}};

    --green-1: {{base0B}};
    --green-2: {{base0B}};
    --green-3: {{base0B}};
    --green-4: {{base0B}};
    --green-5: {{base0B}};

    --blue-1: {{base0D}};
    --blue-2: {{base0D}};
    --blue-3: {{base0D}};
    --blue-4: {{base0D}};
    --blue-5: {{base0D}};

    --yellow-1: {{base0A}};
    --yellow-2: {{base0A}};
    --yellow-3: {{base0A}};
    --yellow-4: {{base0A}};
    --yellow-5: {{base0A}};

    --purple-1: {{base0E}};
    --purple-2: {{base0E}};
    --purple-3: {{base0E}};
    --purple-4: {{base0E}};
    --purple-5: {{base0E}};
}